.footer {
    background-color: #f8f9fa;
    padding: 40px;
    font-size: 14px;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: left;

     .footer-up-left, .footer-up-right {
        display: flex;
        justify-content: space-between;
        align-items: left;
        gap: 10px;
    }
}

.footer-down {
    display: flex;
    justify-content: space-between;

    .footer-down-left, .footer-down-right {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
}

.bold {
    font-weight: bold;
    font-size: 20px;
}